PORT=8080
MONGODB_URI=mongodb+srv://rajazafy3_db_user:LsDGHnhfuqqSH8gC@cluster0.jrqx4rx.mongodb.net/
MONGODB_DATABASE=dexworkshop
MONGODB_COLLECTION=workshop_leads
ALLOWED_ORIGINS=http://localhost:3000